@font-face {
  font-family: "Barlow";
  font-weight: 400;
  src: url(Barlow-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Barlow";
  font-weight: 700;
  src: url(Barlow-Bold.ttf) format("truetype");
}
