button {
  font-size: 22px;
  padding: 10px 20px;
  border: 1px solid #000000;
  border-radius: 1px;
}

button:hover {
  background-color: #000000;
  color: #ffffff;
}

thead tr:nth-child(1) {
  background-color: #000000;
  color: #ffffff;
}

tbody tr:nth-child(odd) {
  background-color: #D2D2D2;
}
