* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

div {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-off {
  background-color: #111111;
}

.background-on {
  background-color: #FEF9F1;
}

button {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: none;
}

button:focus {
  outline: none;
}

.light-bulb-off {
  background-color: #252525;
}

.light-bulb-on {
  background-color: #F9EA84;
  box-shadow: 0px 0px 100px 20px #ffffff;
}
