.container {
  max-width: 800px;
  margin: 0 auto;
}

.page-font {
  font-family: sans-serif;
}

.row {
  display: flex;
}

.column-half {
  width: 50%;
}

.column-one-third {
  width: calc(100% / 3);
}

.column-one-fourth {
  width: 25%;
}

img {
  width: 100%;
}
