/* flex */

.justify-center {
  justify-content: center;
}

/* font & text */

.uppercase {
  text-transform: uppercase;
}

.font-karla-400 h3,
.font-karla-400 p {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
}

.font-karla-700 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
}

.line-height-1 p {
  line-height: 1.8rem;
}

.font-size-h1 {
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
}

.font-size-h3 {
  font-size: 1.1rem;
}

/* position */

.text-center h1,
.text-center p {
  text-align: center;
}

.image-position {
  position: relative;
  top: -1.2rem;
  left: 0.8rem;
}

/* box */

.box-text {
  width: 300px;
}

.box-row-top-bot {
  margin: 2.4rem 0;
}

/* image */

img {
  width: 85%;
}

/* color */

.color-gray p {
  color: #656565;
}

/* button */

button {
  width: 12rem;
  height: 2.7rem;
  border: 2px solid #D2514B;
  font-size: 0.9rem;
  color: #D2514B;
  letter-spacing: 0.05rem;
  background-color: transparent;
  font-weight: 700;
}
