/* box */

.box-padding-1 {
  padding: 5rem 0;
}

.box-padding-2 {
  padding: 1.2rem 0;
}

.box-padding-3 {
  padding: 8rem 0;
}

.box-padding-4 {
  padding: 3rem 0;
}

.box-padding-5 {
  padding: 6.5rem 0;
}

.box-padding-6 {
  padding: 2.5rem 0;
}

.box-padding-7 {
  padding-top: 3rem;
  padding-bottom: 3.5rem;
}

.box-padding-bottom-1 {
  padding-bottom: 8rem;
}

.box-padding-bottom-2 {
  padding-bottom: 5rem;
}

.box-padding-bottom-3 {
  padding-bottom: 1.6rem;
}

.margin-tb-1 {
  margin-top: 2rem;
  margin-bottom: -0.4rem;
  width: 700px;
}

.margin-tb-2 {
  margin-bottom: 0.4rem;
  margin-top: -0.8rem;
}

.margin-tb-3 p {
  margin: 2.2rem 0;
}

.margin-tb-4 {
  margin: 2rem 0;
}

.margin-tb-5 {
  margin: 3rem 0;
}

.margin-b-1 {
  margin-bottom: 5rem;
}

.margin-b-2 {
  margin-bottom: 0.5rem;
}

.remove-margin-tb {
  margin: -0.5rem 0;
}

.remove-margin-t {
  margin-top: -1rem;
}

.margin-tb p {
  margin: 2.1rem;
}

.margin-t {
  margin-top: 2.6rem;
}

.margin-t-2 {
  margin-top: 2.8rem;
}

.margin-t-3 {
  margin-top: 3.8rem;
}

.margin-r {
  margin-right: 3rem;
}

.margin-h2 {
  margin: 0.5rem 0;
}

.box-header {
  height: 5rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.nav-bar a {
  text-align: center;
}

.box-contact-us {
  width: 7.6rem;
  height: 3rem;
}

.box-button {
  border: none;
  background-color: #2A4464;
  border-radius: 5px;
}

.box-button:hover {
  cursor: pointer;
}

.box-get-started {
  width: 14rem;
  height: 4rem;
  font-size: 1.4rem;
}

.box-submit {
  width: 7rem;
  height: 3.2rem;
  font-size: 1.4rem;
}

.box-text {
  position: relative;
}

.box-text-hero-inner {
  position: absolute;
  top: 8rem;
  left: 5.1rem;
}

.box-text-hero-inner-prod {
  position: absolute;
  top: 14rem;
  left: 5.1rem;
}

.box-text-hero-inner-impl {
  position: absolute;
  top: 12rem;
  left: 5.1rem;
}

.box-text-hero-inner-about {
  position: absolute;
  top: 14.6rem;
  left: 5.1rem;
}

.box-text-hero-inner p {
  position: relative;
  top: -1rem;
}

/* font */

.uppercase {
  text-transform: uppercase;
}

.font-white, .font-white p {
  color: #FFFFFF;
}

.font-gray, .font-gray p {
  color: #6E6E6E;
}

.font-light-gray, .font-light-gray a {
  color: #9E9E9E;
}

.font-dark-gray {
  color: #50514F;
}

.font-navy-blue {
  color: #073E67;
}

.font-avenir,
.font-avenir p {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
}

.font-tiempos {
  font-family: 'Tiempos Headline';
  font-style: normal;
  font-weight: normal;
}

.font-tiempos-italic {
  font-family: 'Tiempos Headline';
  font-style: italic;
  font-weight: 300;
}

.font-nav-bar a {
  text-decoration: none;
  font-size: 1.1rem;
}

.font-nav-bar-2 p,
.font-nav-bar-2 a {
  text-decoration: none;
  font-size: 1.4rem;
}

.font-size-button-contact {
  font-size: 1.1rem;
}

.font-size-title {
  font-size: 2.7rem;
}

.font-size-title-2 {
  font-size: 2.4rem;
}

.font-size-title-3 {
  font-size: 2.5rem;
}

.font-size-title-4 {
  font-size: 2.3rem;
}

.font-size-subtitle {
  font-size: 2.1rem;
}

.font-size-subtitle-2 {
  font-size: 1.4rem;
}

.font-size-subtitle,
.font-size-subtitle p {
  font-size: 1.4rem;
}

.font-size-subtitle-3 {
  font-size: 1.3rem;
}

.font-size-subtitle-4 {
  font-size: 2.1rem;
}

.font-size-subtitle-2 p {
  font-size: 1.3rem;
  font-weight: 600;
}

.font-size-text, .font-size-text p {
  font-size: 1.15rem;
}

.font-size-text-4 {
  font-size: 1.2rem;
}

.font-size-text-2 {
  font-size: 1.1rem;
}

.font-size-text-3 {
  font-size: 1.05rem;
  line-height: 1.5rem;
}

.font-size-text-5 {
  font-size: 1.5rem;
}

.line-height-text {
  line-height: 2rem;
}

.line-height-text-2, .line-height-text-2 p {
  line-height: 1.8rem;
}

.line-height-text-3 {
  line-height: 2.8rem;
}

.line-height-text-4 {
  line-height: 2.4rem;
}

.font-number {
  font-size: 2.4rem;
  padding-right: 0.6rem;
}

/* bg color */

.bg-white {
  background-color: #FFFFFF;
}

.bg-off-white {
  background-color: #FAFAFA;
}

.bg-dark-gray {
  background-color: #525351;
}

/* positioning */

.center-element {
  margin: 0 auto;
}

.align-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.align-baseline {
  align-items: baseline;
}

.justify-self-center {
  justify-self: center;
}

.justify-center {
  justify-content: center;
}

.text-center,
.text-center h2,
.text-center p {
  text-align: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.flex-column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

/* image */

.image-chart {
  width: 100%;
}

.image-logo {
  height: 1.9rem;
}

.image-hero {
  width: 100%;
  object-fit: cover;
  height: 770px;
  filter: contrast(65%);
}

.image-profile {
  max-width: 58%;
  border-radius: 50%;
}

/* extra */

.bottom-line {
  border-bottom: 1px solid #E4E4E4;
}

.display-block a {
  display: block;
}

.subscribe {
  width: 30rem;
  border: none;
  border-bottom: 1px solid #6E6E6E;
  height: 4rem;
}

.subscribe::placeholder {
  color: #DADADA;
  font-size: 1.8rem;
  font-family: "Avenir";
  text-align: center;
}

.image-card-1 {
  width: 95%;
  object-fit: cover;
  height: 320px;
}

.box-width {
  width: 80%;
}

.form-block input,
.form-block textarea {
  display: block;
  margin: 0 auto;
}

.form-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #A4A4A4;
  height: 2rem;
  text-align: center;
  font-size: 1.6rem;
  padding: 2rem;
}

.form-input::placeholder {
  font-family: "Avenir";
  color: #DADADA;
}

.form-block input,
.form-block textarea {
  margin-top: 3rem;
}

textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #A4A4A4;
  height: 8rem;
  text-align: center;
  font-family: "Avenir";
  color: #DADADA;
  font-size: 1.6rem;
}
